@using DataLayer.Entityes
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<DataLayer.Entityes.Book>

<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div style="display: flex; justify-content: center">
        <h1>Books List</h1>
    </div>
    <div style="display: flex; justify-content: center; height: 100vh;">
        <div class="books-list" style="display: flex; flex-direction: column; align-items: start">
            @foreach (var book in Model)
            {
                <div>
                    <p>Id: @book.Id</p>
                    <p>Title: @book.Title</p>
                    <p>Page Count: @book.PageCount</p>
                    <p>Genre: @book.Genre</p>
                    <hr style="border: 1px solid black; width:auto;">
                </div>
            }
            <div class="books-item">
                <partial name="_ShowAddedBookPartialView" model='new Book()' />
                @* @await Html.PartialAsync("_ShowAddedBookPartialView", book) *@
            </div>
            <p>
                <a class="btn btn-primary" asp-controller="Book" asp-action="ChangingBook" role="button" style="min-width:100px">Search book for changing info about it</a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBookModal">
                    Add book
                </button>

                <div class="modal fade" id="addBookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add book</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="addBookForm">
                                    <div class="mb-3">
                                        <label for="title" class="form-label">Title</label>
                                        <input type="text" class="form-control" id="title" name="Title" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="pageCount" class="form-label">Page Count</label>
                                        <input type="number" class="form-control" id="pageCount" name="PageCount" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="genre" class="form-label">Genre</label>
                                        <select class="form-control" id="genre" name="Genre" required>
                                            <option value="">Select a genre</option>
                                            <option value="Жахи">Жахи</option>
                                            <option value="Роман">Роман</option>
                                            <option value="Казка">Казка</option>
                                            <option value="Поезія">Поезія</option>
                                            <option value="Сонет">Сонет</option>
                                            <option value="Драма">Драма</option>
                                            <option value="Епос">Епос</option>
                                            <option value="Повість">Повість</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="authorId" class="form-label">Author ID</label>
                                        <input type="number" class="form-control" id="authorId" name="AuthorId" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="saveBookBtn">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary" asp-controller="Author" asp-action="AuthorsList" role="button" style="min-width:100px">Show authors</a>
            </p>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#addBookForm').on('submit', function (e) {
                e.preventDefault();

                var formData = $(this).serialize(); 

                $.ajax({
                    url: '@Url.Action("AddBook", "Book")', 
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        $('div.books-item').append(data);
                        $('#addBookForm')[0].reset(); 
                    },
                    error: function () {
                        alert('An error occurred while saving the book.');
                    }
                });
            });
        });
    </script>
</body>
</html>



